// Styles for sass proyect

$maincolor: #2196F3;
$margin: 5%;
$bgColor: #F3F3F8;

body{

	background: $bgColor;

	.profiles{
		margin-top: 20px;

		.profile{
			position: relative;

			.favorite{
				position: absolute;
				top: 1px;
				right: 1px;
				width: 0;
				height: 0;
				border-top: 40px solid #E0E0EF;
				border-left: 40px solid transparent;
			}

			.favorite:before{
				position: absolute;
				content: "star";
				font-family: 'Material Icons';
				color: #9098B1;
				margin-left: -18px;
				margin-top: -38px;
			}
		}

		.profile:after{
			position: absolute;
			content: "more_vert";
			font-family: 'Material Icons';
			width: 40px;
			height: 40px;
			right: 1px;
			bottom: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			color: #CCCCD9;
			cursor: pointer;
		}

		.profile-image{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		.profile-image:before{
			content: "person_add";
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8em;
			font-family: 'Material Icons';
			position: absolute;
			width:40px;
			height:40px;
			bottom: -20px;
			border-radius: 50%;
			background-color: #E2E5EE;
			border: 2px solid #fff;
			cursor: pointer;
		}

		h4.profile-name{
			margin-top: 30px;
			color: #777;
			font-weight: 500;
		}

		.icon-activity{
			background-color: $bgColor;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;

			i{
				color: #9098B1;
			}
		}

		.info-activity p{
			font-size: .96em;
		}
	}
}

.img-circled{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.img-centered{
	display: block;
	margin: 0 auto;
}